   <form action="#">
                <input type="file" value="<%= photo %>" />
                <input class="name" value="<%= name %>" />
                <input id="type" type="hidden" value="<%= type %>" />
                <input class="address" value="<%= address %>" />
                <input class="tel" value="<%= tel %>" />
                <input class="email" value="<%= email %>" />
                <button class="save">Save</button>
                <button class="cancel">Cancel</button>
            </form>